.font-geist {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
}

.color-black {
    color: #002C5C;
}

.color-DGray {
    color: #323B49;
}

.color-Gray {
    color: #64748B;
}

.bg-soft-blue {
    background: #EEF4FF;
}

.non-applied {
    background: #EEF4FF;
    color: #002C5C;
    text-align: center;
}

#stat-filter > input[type="radio"]:hover {
    border-color: #3b82f6;
    color: #3b82f6;
}

#stat-filter > input[type="radio"]:checked {
    background: #3b82f6;
    color: white;
}